img{
    width: 500px;
    height: 500px;
    position: relative;
}
.container{
    text-align: center;
    display: flex;
}
.container-di{
    margin-left: 10px;
}
a{
    margin-left: 10px;
    color: black;
    font-size: 18px;
    text-decoration: none;
}