
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Convocatorias</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/comiteconv.css}"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/comite}">Volver</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/crearConvocatoria}">Crear</a>
                </li>
            </ul>
            </div>
        
    </nav>
    <h2 class="h2">Convocatorias</h2>
    <form th:action="@{/buscarConvocatorias}" method="get">
        <div class="btn_group">
            <input type="text" class="form-control" placeholder="Buscar convocatoria" name="nombre"required/>
            <button type="submit" class="glyphicon glyphicon-search"></button>
            </div></form>
            <br>
    <table class="table">
        <tr>
            <th class="th">ID</th>
            <th class="th">Nombre</th>
            <th class="th">Descripción</th>
            <th class="th">Modificar</th>
            <th class="th">Eliminar</th>
        </tr>
        <tr th:each="convocatoria : ${convocatorias}">
            <td th:text="${convocatoria.id}"></td>
            <td th:text="${convocatoria.nombre}"></td>
            <td th:text="${convocatoria.descripcion}"></td>
            <td>
                <a class="edit" data-tip="edit" th:href="@{/editarconv/{id}(id=${convocatoria.id})}"><i class="fa fa-edit"></i></a>
            </td>
            <td>
                <a class="elim" data-tip="delete"th:href="@{/eliminarconv/{id}(id=${convocatoria.id})}"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    </table>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
